{% extends "core/nadvar.html" %}
{% block content %}
  <br>

  <div>
    <h2 style="text-align: center;">Galeria de Picasso</h2>
    <div class="col-12 col-md-12"> <br></div>
  </div>


  <div class="row">
    <div class="col-1"></div>
    <div class="col-md-5 h-50">
      <a href="#    "><img src="{{o2.img.url}}" alt="Lights"
        height="70%" width="90%" style="border-radius: 5%;"></a>
        <div class="col-12 col-md-12"> <br></div>
      <a type='button' class="btn btn-primary" role="button" href="../obras/picasso/ficha_obra_avignon.html">{{o2.nombre}}</a> 
    </div>
   
    <div class="col-1"></div>
    <div class="col-md-5">
      <a href="../obras/picasso/ficha_obra_mirro.html"><img src="{{o4.img.url}}"
          alt="autor" height="77%" width="90%" style="border-radius: 5%;"></a>
          <div class="col-12 col-md-12"> <br></div>
      <a type='button' class="btn btn-primary" role="button" href="../obras/picasso/ficha_obra_mirro.html">{{o4.nombre}}</a> 
    </div>
   
  </div>

  

  <div class="row" >
    <div class="col-1"></div>
    <div class="col-md-5 h-50">
      <a href="../obras/picasso/ficha_obra_autoretrato.html"><img src="../obras/picasso/Autoretrato_Picasso_3.jpg"
          alt="Lights" height="70%" width="90%" style="border-radius: 5%"></a>
          <div class="col-12 col-md-12"> <br></div>
      <a type='button' class="btn btn-primary" role="button" href="../obras/picasso/ficha_obra_autoretrato.html">Autoretrato</a> 
    </div>
    <div class="col-1"></div>
    <div class="col-md-5">
      <a href="../obras/picasso/ficha_obra_la_reve.html"><img src="../obras/picasso/La_Reve_Picasso_4.jpg" alt="autor"
        height="87%" width="90%" style="border-radius: 5%;"></a>
        <div class="col-12 col-md-12"> <br></div>
      <a type='button' class="btn btn-primary" role="button" href="../obras/picasso/ficha_obra_la_reve.html">La reve</a>
    </div>
  </div>
{% endblock %}
