{% extends "core/navbar.html" %}
{% load static %}
{% block title %} Contacto {% endblock %}
{% block content %}
  <style>
    .main-section{
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 3%;
        margin-left: 10%;

    }

    .main-section li{
        list-style: none;
    }

    .Contacto{
        font-size: 50px;
    }

    .img img{
        width: 100px;
        height: 100px;
}</style>
  <div class="col-sm-6 main-section">
    <div class="main-section">
      <ul>
        <li class="Contacto">
          Email
        <li>
          TuGroundZero@artes.com
        </li>
        </li>
        <li class="Contacto">
          Telefono
        <li>
          Celular: +56 98447556

        </li>
        <li>
          Fono: 02 24847569
        </li>
        </li>
      </ul>
      <div class="img">
        <a id="face" href="https://facebook.com"><img src="{% static 'core/img/recursos/Logo_facebook.png' %}" /></a>
        <a href="https://pinterest.com"><img src="{% static 'core/img/recursos/Logo_pinterest.jpg'%}" /></a>
        <a href="https://linkedin.com"><img src="{% static 'core/img/recursos/Logo_linkedin.png'%}" /></a>
      </div>
    </div>
  </div>
{% endblock %}