{% extends "core/navbar.html" %}
{% block title %} Crear autor {% endblock %}
{% block content %}
    <br></br>
    <form action="" method="POST" id="formulario" enctype="multipart/form-data">
    <div class="row">
        {% csrf_token %}
        <div class="col-4"></div>
        <div class="col-md-4">
            <div class="form-group row">
                {{form.as_table}}
            </div>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-6">
            <input type="submit" class="btn btn-success" id="enviar" value="enviar">
            <input type="reset" class="btn btn-danger" id="limpiar" value="limpiar">
        </div>
        <div class="col-4"></div>

    </div>
        
    </form>

    <div class="row">
        <br></br>
        <div class="col-12"><div class="alert alert-success" role="alert">{{mensaje}}</div></div>
    </div>
    
<br></br>
{% endblock %}