{% extends "core/navbar.html" %}
{% load static %}
{% block content %}
  <div class="bloque_fondo">
                <div class="container-fluid">
                  <div class="row"> 
                    <div class="col"><h1 align = "center">Destacados</h1></div> 
                    <div class="col-sm-12">  
                      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <a href="../obras/{{numeros.0}}" ><img src="../media/{{obras.0.img}}" class="d-block mx-auto img-fluid" alt="..." width="45%" height="50%" style="border-radius: 5%;"></a>
                            </div>
                            <div class="carousel-item">
                              <a href="../obras/{{numeros.1}}" ><img src="../media/{{obras.1.img}}" class="d-block mx-auto img-fluid " alt="..." width="60%" height="100%" style="border-radius: 5%;"></a>
                            </div>
                            <div class="carousel-item">
                              <a href="../obras/{{numeros.2}}" ><img src="../media/{{obras.2.img}}" class="d-block mx-auto img-fluid" alt="..." width="60%" height="100%" style="border-radius: 5%;"></a>
                            </div>
                          </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                          
                        </button>
                      </div>
                    </div>  
                  </div> 
                </div>
                <br> <br> <br>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-4 col-md-4"><h3>Pinturas</h3> 
                      <a href="./categorias/categoria_pintores.html" ><img src="{% static 'core/img/img_idx/Autorretrato_VanGogh_3.jpg' %}"  alt="..."  width="100%" height="100%" style="border-radius: 5%;"></a>
                    </div>
                    <div class="col-sm-4"> <br> <br> <br> </div>
                    <div class="col-sm-4 col-md-4"><h3>Esculturas</h3>
                        <a href="./categorias/categoria_escultores.html" ><img src="{% static 'core/img/img_idx/Autorretrato_VanGogh_3.jpg' %}"  alt="..."  width="100%" height="100%" style="border-radius: 5%;"></a>
                    </div>
                  </div>
                  <div class="row"> <div class="col"> <br> <br> <br> <br> </div> </div>
                  <div class="row">
                    <div class="col-sm-4 col-md-4"><h3>Tejedores</h3> 
                      <a href="./categorias/categoria_tejedor.html" ><img src="{% static 'core/img/img_idx/Autorretrato_VanGogh_3.jpg' %}"  alt="..."  width="100%" height="80%" style="border-radius: 5%;"></a>
                    </div>
                    <div class="col-sm-4 "> <br> <br> <br> </div>
                    <div class="col-sm-4 col-md-4"><h3>Orfebres</h3>
                      <a href="./categorias/categoria_orfebres.html"><img src="{% static 'core/img/img_idx/Autorretrato_VanGogh_3.jpg' %}"  alt="..."  width="100%" height="80%" style="border-radius: 5%;"></a>
                    </div>  
                  </div>    
                </div>
                <br><br><br>    
  </div> 


  
{% endblock %}
