{% extends "core/navbar.html" %}

{% load static %}
{%block title%} Modificar y eliminar obras{% endblock %}


{% block content %}


    <table class="table">
    
    <thead>
    
        <tr>
        <th scope="col">id</th>
        <th scope="col">imagen</th>
        <th scope="col">nombre</th>
        <th scope="col">autor</th>
        <th scope="col">precio</th>
        <th scope="col">fecha</th>
        <th scope="col"></th>
        <th scope="col"></th>     
        </tr>
    </thead>

    <tbody>
        {% for autor in autores %}
        <th scope="row">{{autor.idobra}}</th>
        <td><img src="../media/{{autor.img}}"  alt="..."  width="100%" height="100%" style="border-radius: 5%; max-height: 28px; max-width: 28px; min-width: 28px; min-height: 28px;"></td>
        <td><a href="../obras/{{autor.idobra}}">{{autor.nombre}}</a></td>
        <td>{{autor.categoria}}</td>
        <td><a type='button' class="btn btn-danger" role="button" style="font-size : 10px; width: 100%; height: 30px;" href="{% url 'eliminar_autor' autor.idautor %}"> Eliminar autor</a></td>
        <td><a type='button' class="btn btn-primary" role="button" style="font-size : 10px; width: 100%; height: 30px;" href="{% url 'form_mod_autor' autor.idautor %}">Ir a Modificar</a></td>
    </tbody>
    {% endfor %}
    </table>

{%endblock%}
