{% extends "core/navbar.html" %}

{% load static %}
{%block title%} Modificar y eliminar obras{% endblock %}


{% block content %}


    <table class="table">
    
    <thead>
    
        <tr>
        <th scope="col">id</th>
        <th scope="col">imagen</th>
        <th scope="col">nombre</th>
        <th scope="col">autor</th>
        <th scope="col">precio</th>
        <th scope="col">fecha</th>
        <th scope="col"></th>
        <th scope="col"></th>     
        </tr>
    </thead>

    <tbody>
        {% for obra in obras %}
        <th scope="row">{{obra.idobra}}</th>
        <td><img src="../media/{{obra.img}}"  alt="..."  width="100%" height="100%" style="border-radius: 5%; max-height: 28px; max-width: 28px; min-width: 28px; min-height: 28px;"></td>
        <td><a href="../obras/{{obra.idobra}}">{{obra.nombre}}</a></td>
        <td>{{obra.autor}}</td>
        <td>{{obra.precio}}</td>
        <td>{{obra.fecha}}</td>
        <td><a type='button' class="btn btn-danger" role="button" style="font-size : 10px; width: 100%; height: 30px;" href="{% url 'eliminar_obra' obra.idobra %}"> Eliminar Obra</a></td>
        <td><a type='button' class="btn btn-primary" role="button" style="font-size : 10px; width: 100%; height: 30px;" href="{% url 'form_mod_obra' obra.idobra %}">Ir a Modificar</a></td>
    </tbody>
    {% endfor %}
    </table>

{%endblock%}
