{% extends "core/navbar.html" %}
{%block title%} Modificar {% endblock %}
{% block content %}
{% load static %}
<br></br>
<div class="row">
    <div class="col-sm-1"></div>
            <div class="col-sm-4 "><img  src="{% static 'core/img/recursos/modificar_pintura.jpg' %}" style="border-radius: 5%; height:100%; width:100%;"></div>
    <div class="col-sm-1"></div>
            <div class="col-sm-4 "><img  src="{% static 'core/img/recursos/modificar_autor.jpg' %}" style="border-radius: 5%; height:100%; width:100%;"></div>  
    <div class="col-12"><br></div>
    <div class="col-md-1 col-0"></div>
    <div class="col-md-4 col-5"><a type='button' class="btn btn-primary" role="button" href="{%url 'mod_obras' %}">Modificar obra</a></div>
    <div class="col-md-2 col-2"></div>
    <div class="col-md-4 col-5"><a type='button' class="btn btn-primary" role="button" href="{% url 'mod_autores' %}">Modificar autores</a></div>
    <div class="col-md-1 col-0"></div>
</div>
</div>
<br>
{% endblock %}