{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
        .thg{
            max-width: 100px;
            max-height: 100px;
        }
    </style>
</head>
<body>
    <h1>Hola probando</h1>
    {% for  autor in autores %}
        {% for obra in  obras%}
            {% if  obra.idobra == autor.idautor%}
                <p>{{obra.nombre}}</p>
                <br>
                <img src="{{obra.img.url}}"  alt="" class="thg">
            {% endif %}
            
        {% endfor %}
        
    {% endfor %}

    
    
</body>
</html>



<!--<img src="" alt="">, <p></p>

for x in (y for y in items if y > 10):
    <p></p>


{% for autor in  autores%}
        <p>{{autor.nombre}}</p>
        <br>
        <img src="{{autor.img.url}}"  alt="">
        {% for obra in obras %}
            
            <br>
            
        {% endfor %}
    {% endfor %}

<p>{{obra.nombre}}</p>
                <img src="{{obra.img.url}}"  alt="">
-->